@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 48px;
}

.grid {
    padding: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    row-gap: 5rem;
    text-align: center;
}

.grid-item-image img {
    width: 200px;
}

.grid-item-name a {
    font-weight: 600;
}

.instrument-heading-image img {
    width: 125px;
}

.instrument-heading {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.instrument-heading-header {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.instrument-heading-subheader {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.grid-item-image img {
    transition: 0.3s;
}

.grid-item-image img:hover  {
    transform: scale(1.1);
    transition: 0.3s;
    cursor: pointer;
}

.grid-item-name a {
    text-decoration: none;
    color: black;
}

