@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.nav {
    height: 100px;
    width: 100%;
    padding: 32px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    gap: 48px;
}

.nav-logo-img {
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
}

.nav-logo-name {
    font-weight: 900;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.menu-lists {
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu-lists li {
    list-style: none;
    text-align: center;
}

.menu-lists li a {
    text-decoration: none;
    color: gray;
    font-size: 15px;
}

.menu-lists a:hover {
    color: black;
}

.button {
    display: flex;
    gap: 16px;
    align-items: center;
}

.login-btn {
    text-decoration: none;
    color: gray;
}

.login-btn:hover {
    color: black;
}

.register-btn {
    background-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 600;
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    text-align: center;
}