@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 48px;
}

.roar-body {
    padding: 0 48px;
}

.roar-heading-image img {
    width: 150px;
}

.roar-heading {
    padding: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.roar-heading-header {
    font-size: 2rem;
    font-weight: 700;
}

.roar-heading-subheader {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
}

.roar-container img {
    width: 100%;
}